#
# The docker container needs to be stopped and a new started to
# change these environamnt variables. Use the supervisor.conf 
# file to set variables that needs to be updated from time to
# time.
#

db_server=localhost
db_port=:3306

# use for backups
db_user=
db_password=
db_name=

absolute_uri=http://localhost
