#
# Temmpalte for list of containers used by copy-containers, update with your containers
#
# Jonas Colmsjö, 190629

declare -a containers
containers[0]="centos01"
containers[1]="haproxy"
containers[2]="nginx01"

